body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: 'Cabin Sketch', cursive;
}

h2 {
  color: #000000; 
  margin: 0px, 0px, 0px}

footer {
  background-color: #c5c1e5;
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: #e4e3e3;
  color: rgb(0, 0, 0); }

.row-content {
  padding: 0px 0;
  min-height: 100px; }

.navbar {
  background-color: #a73dc2; }


.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); 
}


#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

#reserveModal .modal-header {
  background-color: #17A2B8;
  color: white; }

#loginModal .modal-header {
  background-color: #901CAD;
  color: white; }

.list-inline > li {
  display: inline-block;
} 

a {
  color: black;
}
